<! DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    .box {
      width: 400px;
      height: 200px;
      background: #e4e0ad;
    }

    .v-enter-active,
    .v-leave-active {
      transition: all 1s;
    }

    .v-enter,
    .v-leave-to {
      transform: translateX(50px);
      opacity: 0;
    }
    
    /* opacity1はデフォルト値なので省略可能 */
    /* .v-enter-to {
      opacity: 1;
    }
    .v-leave {
      opacity: 1;
    } */

  </style>
</head>

<body>
  <div id="app">
    <button v-on:click="show = !show">menu</button>
    <transition>
      <div v-if="show" class="box">
        <h1>本日のおすすめ</h1>
        <ul>
          <li v-for="food in menu">{{ food }}</li>
        </ul>
      </div>
    </transition>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script type="text/javascript" src="./trans2.js"></script>
</body>

</html>