<html>

<head>
  <meta charset="UTF-8">
  <title>Vueの練習</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

  <!-- Hello Vue! -->
  <div id="app">
    {{ message }}
  </div>

  <!-- マウスオンでメッセージ -->
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>

  <!-- falseの場合メッセージが消える -->
  <!-- コンソールから app3.seen = false を入力すると消える -->
  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>

  <!-- 配列 -->
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <!-- ユーザー入力。文字を逆さにする -->
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <script type="text/javascript" src="index.js"></script>
</body>

</html>