<! DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
  <div id="app">
    color:
    <label><input type="radio" value="black" v-model="color">Black</label>
    <label><input type="radio" value="red" v-model="color">Red</label>
    <label><input type="radio" value="yellow" v-model="color">Yellow</label>
    <label><input type="radio" value="green" v-model="color">Green</label>

    <label for="width">線幅</label>
    <select v-model="width">
      <option v-for="num in [1, 2, 3, 4, 5, 6, 7, 8, 9]">{{ num }}</option>
    </select>
    <button @click="clearAll()">すべて消去</button>
    <button @click="undo()">戻る</button>
    <button @click="redraw()">選択色で再描画</button>
    <canvas
      ref="myCanvas"
      width="600"
      height="600"
      @mousedown="mousedown"
      @mousemove="mousemove"
      @mouseup="mouseup"
    ></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script type="text/javascript" src="./paint.js"></script>
</body>

</html>