<! DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
  <div id="app">
    <h1>行ってみたい国は？</h1>
    <input id="england" type="checkbox" v-model="countries" value="イギリス" />
    <label for="england">イギリス</label>
    <input id="germany" type="checkbox" v-model="countries" value="ドイツ" />
    <label for="germany">ドイツ</label>
    <input id="spain" type="checkbox" v-model="countries" value="スペイン" />
    <label for="spain">スペイン</label>
    <input id="italia" type="checkbox" v-model="countries" value="イタリア" />
    <label for="italia">イタリア</label>
    <br />
    <button @click="countries=[]">クリア</button>
    <ul>
      <li v-for="country in countries">{{ country }}</li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script type="text/javascript" src="./checkbox3.js"></script>
</body>

</html>